html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
}

header {
    background-color: #564A7C;
    text-align: right;
}


h1, h2, h3 {
    color: #FFFFFF;
}

h1 {
    font-size: 9.0rem;
    margin-bottom: 1rem;
}

h2, h3 {
    font-size: 6.0rem;
}

h3 {
    font-weight: bold;
}

.right {
    float: right;
}


.container{
    width: 80%;
    max-width: 1200px;
}


nav ul {
    list-style: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    text-align: center;

}

nav ul li {
    float: right;
    margin: 0;
}

nav ul li a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 2.8rem;
    padding: 40px 30px;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover {
    color: #3FC4BA;
}

.last-nav-item {
    padding-right: 0;
}

.brawrdon {
    float: left;
}

.brawrdon a {
    padding-left: 5px;
}

.jumbotron {
    background-color: #564A7C;
    padding: 135px 0;
}

.brawrdobot {
    background-color: #1DA1F2;
    padding: 100px 0;
}

.section-text {
    color: #FFFFFF;
    font-size: 4.0rem;
}


.small {
    font-size: 1.2rem;
}


input[type="text"].message-text,
button.button-primary {
    height: 60px;
    font-size: 1.8rem;

}
input[type="text"].message-text {
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 0 20px;
}

button.button-primary {
    border-radius: 10px;
    background-color: #3FC4BA;
    border-color: #3FC4BA;
}

button.button-primary:hover {
    background-color: #3DBDB3;
    border-color: #3DBDB3;
}


/* Smaller than phablet */
@media (max-width: 550px) {
    h1 {
        font-size: 8.0rem;
    }

    h2, h3 {
        font-size: 4.0rem;
    }

    nav ul li a {
        font-size: 1rem;
    }

    .section-text {
        font-size: 3.0rem;
    }

    .small {
        font-size: 1rem;
    }


}
