body {
    font-family: sans-serif;
}

header {
    background-color: #564A7C;
    text-align: right;
}


h1, h2, h3 {
    color: #FFFFFF;
}

h1 {
    font-size: 90px;
    margin-bottom: 1rem;
}

h2, h3 {
    font-size: 60px;
}

h3 {
    font-weight: bold;
}

.right {
    float: right;
}


.container{
    width: 80%;
    max-width: 1200px;
}


nav ul {
    list-style: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    text-align: center;

}

nav ul li {
    float: right;
    margin: 0;
}

nav ul li a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 28px;
    padding: 40px 30px;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover {
    color: #3FC4BA;
}

.last-nav-item {
    padding-right: 0;
}

.brawrdon {
    float: left;
}

.brawrdon a {
    padding-left: 5px;
}

.jumbotron {
    background-color: #564A7C;
    padding: 135px 0;
}

.brawrdobot {
    background-color: #1DA1F2;
    padding: 100px 0;
}

.section-text {
    color: #FFFFFF;
    font-size: 40px;
}


.small {
    font-size: 12px;
}

input[type="text"].message-text {
    height: 60px;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 0 20px;
}

button.button-primary {
    height: 60px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #3FC4BA;
    border-color: #3FC4BA;
}

button.button-primary:hover {
    background-color: #3DBDB3;
    border-color: #3DBDB3;
}

