@import "chota/chota.css";

@font-face {
    font-family: "JetBrains Mono";
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff2/JetBrainsMono-Regular.woff2') format('woff2');
}

:root {
    --header-size: 2.5em;
    --nav-size: 3em;
    --font-family: "JetBrains Mono", sans-serif;
}

body {
    font-family: var(--font-family);
}
.container {
    margin: 1.5em auto;
    padding: 0 2em;
}

h1 {
    font-size: var(--header-size);
    margin-top: 0;
}

.nav a, .nav .brand {
    font-weight: bold;
    color: black;
    font-size: var(--nav-size);
    padding: 0;
}

.wrapper {
    margin: 2em 0;
}

.hero-heading {
    background-color: rgba(147,112,219,0.2);
}

.hero-content p {
    font-size: 1.15em;
}
