@import "chota/chota.css";

@font-face {
    font-family: "JetBrains Mono";
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff2/JetBrainsMono-Regular.woff2') format('woff2');
}

:root {
    --header-size: 2.5em;
    --font-family: "JetBrains Mono", sans-serif;
}

body {
    font-family: var(--font-family);
}
.container {
    margin: 1.5em auto;
    padding: 0 2em;
}

h1 {
    font-size: var(--header-size);
    margin-top: 0;
}

h2 {
    font-size: 1.3em;
}
.attribute a {
    text-decoration: none;
    border-bottom: 0.25rem solid black;
}

.attribute a:hover {
    color: var(--color-grey);
    text-decoration: none;
    border-bottom: 0;
}

.nav-left {
    display: inherit;
}
.nav a, .nav .brand {
    font-weight: bold;
    color: black;
}

.nav .brand {
    padding: 0;
    margin: 0;
    font-size: 3em;
}

.nav a {
    padding: 0 1em;
    font-size: 1em;
}

.nav a:hover {
    text-decoration: underline black;
}

.wrapper {
    margin: 2em 0;
}

.hero-heading {
    background-color: rgba(158,115,245,0.4);
}

.hero-subheading {
    background-color: rgba(255,211,105,0.4);
}

.row.content {
    margin-top: 2em;
}
@media screen and (max-width: 800px) {
    :root {
        --nav-size: 1em;
    }


    .nav,
    .nav>.container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .nav-center,
    .nav-left,
    .nav-right {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

}