<!doctype html>
<html lang="en">
    {{ partial "head" . }}
    <body>
        <div class="container">
            {{ partial "nav" . }}
                {{if ne .Title "Home"}}
                <div class="row">
                    <div class="col-12 col-8-lg">
                        <div class="sticky-note-purple"><h1>{{.Title}}</h1></div>
                    </div>
                </div>
                {{end}}
                {{ block "content" . }}{{ end }}
            </div>
        </div>
    </body>
</html>