{{ define "content" }}
<div class="row">
    <div class="col-12 col-8-lg ">
        <div class="hero-heading">{{ .Params.heading | markdownify }}</div>
    </div>
    <div class="col-8-md col-4-lg"><div class="hero-subheading">{{ .Params.subheading | markdownify}}</div></div>
    <div class="is-full-width"></div>
</div>
<div class="row content">
    <div class="col-8-md">{{ .Content }}</div>
    <div class="is-full-width"></div>
    {{$imageCredits := .Params.imageCredits }}
    {{ range $index, $element := .Params.images }}
    <div class="col-12 col-4-md">
        <div class="stick-note">
        <img class="is-full-width" src="{{ $element }}">
        {{ if ( gt ( len (index $imageCredits $index )) 0 ) }}
        <div class="attribute">{{ index $imageCredits $index | markdownify}}</div>
        {{ end }}
        </div>
    </div>
    {{ end }}
</div>
{{ end }}